<html>
<head>
    {include file="public/_head"}
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-footer-fixed layout-navbar-fixed">
    <!-- 页面 -->
    <div class="wrapper">
       <div class="content-wrapper" style="margin: 0 !important;">
           <!-- 路径条 -->
           <section class="content-header">
               <div class="container-fluid">
                   <div class="row mb-2">
                       <div class="col-sm-6">
                           <h1>添加店铺</h1>
                       </div>
                       <div class="col-sm-6">
                           <ol class="breadcrumb float-sm-right">
                               <li class="breadcrumb-item"><a href="{:url('admin/index/main')}">Home</a></li>
                               <li class="breadcrumb-item active">添加店铺</li>
                           </ol>
                       </div>
                   </div>
               </div>
           </section>

           <!-- 内容 -->
           <section  class="content">
               <div class="row">
                   <div class="col-md-12">
                       <div class="card card-outline card-info">
                           <form>
                               <div class="card-body">
                                   <div class="form-group">
                                       <label for="storeName">店铺名称</label>
                                       <div class="row">
                                           <div class="col-3">
                                               <input type="text" class="form-control" id="storeName" placeholder="店铺名称">
                                           </div>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label for="address">店铺地址</label>
                                       <div class="row">
                                           <div class="col-3">
                                               <input type="text" class="form-control" id="address" placeholder="店铺地址">
                                           </div>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label for="contact">联系方式</label>
                                       <div class="row">
                                           <div class="col-3">
                                               <input type="text" class="form-control" id="contact" placeholder="联系方式">
                                           </div>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label for="start_time">营业时间</label>
                                       <div class="row">
                                           <div class="col-2">
                                               <input type="time" class="form-control" id="start_time" value="09:00"/>
                                           </div>
                                           <div style="padding: 5px;">
                                               —
                                           </div>
                                           <div class="col-2">
                                               <input type="time" class="form-control" id="end_time" value="20:00"/>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </form>
                       </div>
                   </div>

               </div>
           </section>

       </div>
   </div>

</body>
</html>