<!DOCTYPE html>
<html lang="zh-CN">

<head>
  {include file="public/_head" /}
  <style>
    html{
      overflow: hidden;
    }
  </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-footer-fixed layout-navbar-fixed">
    
  <div class="wrapper">
    <!-- navbar -->
    {include file="public/_navbar" /}

    <!-- leftNav -->
    {include file="public/_left" /}

    <!-- Contains page content -->
    <div class="content-wrapper">
      <iframe id="mainFrame" scrolling="auto" frameborder="0" src="{:url('admin/index/main')}" name="right" width="100%"></iframe>
    </div>
    <!-- /.content-wrapper -->

    {include file="public/_foot" /}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

  </div>
  <!-- ./wrapper -->

  <!-- 弹窗 -->
  <div class="modal fade" tabindex="-1" role="dialog" id="loginOutModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0px">
          <h4 class="modal-title">确认退出?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <a type="button" class="btn btn-primary" style="color: white;border: 0px solid white;" href="{:url('admin/base/loginOut')}">登出</a>
        </div>
      </div>
    </div>
  </div>

  {include file="public/_js" /}
  
  <!-- daterangepicker -->
  <script src="/static/plugins/AdminLTE/plugins/moment/moment.min.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="/static/plugins/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Summernote -->
  <script src="/static/plugins/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="/static/plugins/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/static/plugins/AdminLTE/dist/js/adminlte.js"></script>

  <script>
    $("#mainFrame").height(window.innerHeight-110);
    $("#loginOut").click(function () {
      $('#loginOutModal').modal('show');
    });
  </script>

</body>

</html>
